JWT_SECRET=8f3a9c2e1b7d4f6a0c5e8b2d9f1a4c7e3b6d0f9a2c5e8b1d4f7a0c3e6b9d2f5a
CORS_ORIGIN=https://sahaj-wallet-web.vercel.app
DEFAULT_NETWORK=arc
ARC_RPC_URL=https://rpc.testnet.arc.io
ARC_CHAIN_ID=5042002
ARC_USDC_ADDRESS=0x3600000000000000000000000000000000000000
ARC_EXPLORER_URL=https://testnet.arcscan.app
ARC_FAUCET_URL=https://faucet.circle.com
ETHEREUM_RPC_URL=https://eth.llamarpc.com
ETHEREUM_USDC_ADDRESS=0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48
BASE_RPC_URL=https://mainnet.base.org
BASE_USDC_ADDRESS=0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913
POLYGON_RPC_URL=https://polygon-rpc.com
POLYGON_USDC_ADDRESS=0x3c499c542cEF5E3811e1192ce70d8cC03d5c3359
ARBITRUM_RPC_URL=https://arb1.arbitrum.io/rpc
ARBITRUM_USDC_ADDRESS=0xaf88d065e77c8cC2239327C5EDb3A432268e5831
OPTIMISM_RPC_URL=https://mainnet.optimism.io
OPTIMISM_USDC_ADDRESS=0x0b2C639c533813f4Aa9D7837CAf62653d097Ff85
GIWA_ENABLED=true
GIWA_RPC_URL=https://sepolia-rpc.giwa.io
GIWA_USDC_ADDRESS=0x0000000000000000000000000000000000dEaD
GIWA_FAUCET_URL=https://faucet.giwa.io
CIRCLE_ENVIRONMENT=sandbox
ACTIVE_BRAND=sahaj
